body{
    background: #b0b5ba;
}

.jumbotron{
    background: #0e6d72;
    text-align: center;
    color: white;
}

#header{
    font-size: 46px;
    font-weight: normal;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.panel-default>.panel-heading{
    background: darkred;
    color: white;
}

.panel-default {
    border-color: darkred;
}

.btn{
    background: darkred;
    color:white;
}

.panel-body {
    border-top:none;
    padding: 15px 15px 15px 15px;
}